.accordeon-menu {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.accordeon-menu__item {
    display: flex;

}

.accordeon-menu__link {
    display: block;
    height: 100%;
    width: rem(80px);
    position: relative;
    background-image: url(../img/bg/bg-accordeon-menu__item.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #2f3234;
        opacity: 0.7;
    }
}

.accordeon-menu__link-title {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    white-space: nowrap;
    font-family: 'Gagalin';
    color: $white;
    font-size: rem(40px);
    font-weight: 400;

    &--color {
        color: $orange;
    }
}

.accordeon-menu__content {
    width: 0;
    overflow: hidden;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    color: $white;

    
}
.accordeon-menu__content--active--color .accordeon-menu__link-title {
    color: $orange;
}
.accordeon-menu__content--active--color .accordeon-menu__content {
    width: rem(541px);
    padding: rem(62px) rem(33px) 0 rem(37px);
    background-color: #2f3234;
    opacity: 0.93;

    @include tablets {
        width: 100%;
    }
}
.accordeon-menu__link--centered {
    background-image: url(img/bg/bg-accordeon-menu__item--centered.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.accordeon-menu__link--last-item {
    background-image: url(img/bg/bg-accordeon-menu__item--last-item.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
