.burger-composition {
    width: rem(90px);
    padding: 3% 0;
    background-color: rgba(227, 80, 40, .4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.burger-composition:hover {
    background-color: $red;;
    transition: .8s;
}
.burger-composition:hover .composition {
    left: rem(90px);
    opacity: 0.9;
    top: 0;
    
    @include tablets {
        left: rem(247px);
    }

    @include phones {
        left: rem(88px);
    }
}
.burger-composition__subtitle {
    font-size: rem(14px);
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
    font-family: 'Gagalin';
    z-index: 1;
}