.contacts {
    font-size: rem(14px);
    width: 50%;

    @include phones {
        width: 100%;
        text-align: center;
        margin-bottom: 3%;
    }
}

.contacts__address {
    font-weight: 300;
    color: $white;
    margin-bottom: rem(10px);
}

.contacts__phone {
    font-weight: bold;
    color: $red;
    text-decoration: none;
}