.footer {
    background-image: url(../img/bg/bg-delivery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer__container {
    display: flex;
    padding: rem(10px) 0;
    align-items: center;

    @include phones {
        flex-direction: column;
    }
}