.hamburger-link{
    margin-left: 3%;
}
.hamburger-link__hamburger{
    width: rem(30px);
    height: rem(5px);
    background-color: $white;
    position: relative;
    border-radius: rem(3px);
    display: none;
    margin: rem(5px) 0;
  

    @include tablets {
        display: block;
    }


    &::after {
        content: '';
        display: block;
        width: rem(30px);
        height: rem(5px);
        background-color: $white;
        position: absolute;
        top: 100%;
        margin-top: rem(5px);
        border-radius: rem(3px);
    }

    &:before {
        content: '';
        display: block;
        width: rem(30px);
        height: rem(5px);
        background-color: $white;
        position: absolute;
        bottom: 100%;
        margin-bottom: rem(5px);
        border-radius: rem(3px);
    }
    
}
