.header {
    position: absolute;
    width: 100%;
    padding-top: rem(12px);
    z-index: 2;
}

.header__wrapper {
    flex: 1;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
