.reviews {
    position: relative;
}
.reviews__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item-user {
    flex-basis: 25%;
    height: 50%;
    position: relative;

    @include tablets {
        flex-basis: 50%;
        height: 25%;
    }

    &:hover {
        .reviews__hover {
            opacity: 1;
        }
       
    }
}

.reviews__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%); 
}

.reviews__hover {
    opacity: 0;
    color: $white;
    font-size: rem(14px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($black, 0.8);
    padding: rem(50px) rem(20px);
    transition: opacity .4s;


    @include tablets {
        text-align: center;
    }

    @include phones {
        padding: 13% 13%;
    }
}

.reviews__name {
    font-family: 'Gagalin';
    font-weight: 400;

    @include phones {
        font-size: rem(24px);
        padding-bottom: rem(20px);
    }

}

.reviews__text {
    font-weight: 300;
    line-height: rem(24px);

    @include phones {
        display: none;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 50, 52, .92);
    overflow: hidden;
}

.overlay__container {
    position: relative;
    width: rem(460px);
    background-color: $white;
    padding: rem(27px) rem(23px);
    line-height: rem(24px);
    font-size: rem(14px);
    border-radius: 5px;
}

.close {
    width: rem(15px);
    height: rem(15px);
    position: absolute;
    top: rem(20px);
    right: rem(19px);
    background-image: url(../img/icons/close.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
}

.overlay__username {
    font-family: 'Gagalin';
    font-weight: 400;
    font-size: rem(14px);
    color: $gray;
    margin-bottom: rem(20px);
}
