.social {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    @include phones {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.social__list {
    display: flex;
}

