.team-section {
    background-image: url(../img/bg/bg-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.team-section__right {
    width: 50%;
    height: 100%;
    background-color: $gray;
    opacity: 0.93;
    position: absolute;
    right: 0;

    @include tablets {
        width: 100%;
    }
}